
.background-about {
    background-image: url('../../assets/backgroundabout1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
  }
  
  .profile-section {
    text-align: center;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .profile-name {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
  }
  
  .email {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
  }
  
  .text-section {
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  
  .text-section h1,
  .text-section p {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-in-out forwards;
  }
  
  .text-section h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    position: relative;
    animation-delay: 0.2s;
  }
  
  .text-section h1::after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background: #333;
    margin-top: 0.5rem;
    border-radius: 5px;
  }
  
  .text-section p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    animation-delay: 0.4s;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .skills {
    margin-top: 1rem;
    width: 80%;
  }
  
  .skills-title {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), 
                 -2px -2px 5px rgba(255, 255, 255, 0.1);
  
    position: relative;
  }
  
  .skills-title::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #fff; 
    left: 10%; 
    bottom: -10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  }
  
  
  
  
  .progress-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
  }
  
  .progress {
    height: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    background:greenyellow;
    border-radius: 4px;
    transition: width 1s ease-in-out;
  }
  
  .progress-value {
    position: absolute;
    top: -25px;
    right: 10px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
  }
  