*.cv-page {
    padding: 2rem;
    text-align: center;
    background-image: url('../../assets/backgroundabout1.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cv-page h1 {
    margin-bottom: 1.5rem;
    color: white ;
  }
  
  .cv-page iframe {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  