.animated-title {
    font-size: 3rem;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Icône des cartes */
  .icon {
    font-size: 3rem;
  }
.portfolio-background {
    background-image: url('../../assets/hack.jpg'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100vh;
    position: relative;
    overflow: auto;
  }
  
  /* Titre stylé */
  .portfolio-title {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  /* Icône des cartes */
 

  .fade-in {
    opacity: 0;
    transform: translateY(50px); 
    animation: fadeInUp 1s ease forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0); 
    }
  }
  
  