.contact-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(249, 249, 249, 0.8);    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 1rem;
    color: black;
    
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  