header {
  background-color: #343a40; 
}

.navbar {
  padding: 0.75rem 1.25rem;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f9fa !important; 
}

.nav-link {
  color: #f8f9fa !important; 
  padding: 0.5rem 1rem; 
  font-size: 1rem; 
}

.nav-link:hover {
  color: rgb(38, 0, 255) !important; 
  text-decoration: underline; 
}

.navbar-toggler {
  border-color: #f8f9fa; 
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KPHBhdGggZD0iTTE4IDB2Ny44bC0yLjggMi44bDcuOCA3LjgtMS43LS00LjEgMi4yLTIuMCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtY29sb3I9IiM5OTkiIHN0cm9rZS1vcGFjaXR5PSIwLjciLz4KPHBhdGggZD0iTTAgN0guMDAxNmMwLjc2OCAwIDEuMjE4IDAuMDAzIDFjMC4wMiAwIDAuMDAzIDAuMDAxIDAuMDAzIDAgMCAwIC0wLjAxMyAwLjc4IDEuMjM2IDAuMDAyIDAgMCAwLjAyMiAwLjA2NjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvc3ZnPg=='); /* Icône du bouton de bascule */
}

.navbar-toggler:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fond au survol du bouton */
}
