@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
*  body {
    font-family: 'Arial', sans-serif;
    color: white;
    line-height: 1.6;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  
  .typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    font-size: clamp(40px, 5vw, 90px);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  
  /* Effet de Zoom */
  .zoom-text {
    transition: transform 0.3s ease;
  }
  
  .zoom-text:hover {
    transform: scale(1.1);
  }
  
  
  @keyframes moveLeftRight {
    0%, 100% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(10%);
    }
  }
  
  /* Conteneur principal */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Footer style */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  /* Style pour l'image de fond */
.background-image {
    background-image: url('./assets/hack.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    height: 100vh; 
    position: relative;
    overflow: hidden; /* Assure que les éléments animés ne dépassent pas les bords */
    animation: fadeInBackground 2s ease-in-out;
  }
  
  @keyframes fadeInBackground {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @supports (perspective: 1px) {
    .background-image::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: inherit;
      background-size: inherit;
      background-position: inherit;
      background-repeat: inherit;
      transform: translateZ(-1px) scale(2);
      z-index: -1;
    }
  }
  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: clamp(40px, 5vw, 90px); 
    animation: showup 7s infinite, reveal 7s infinite, slidein 7s infinite;
  }
  .typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange; 
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    font-size: clamp(40px, 5vw, 90px);
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  

  
  
  